# Local Terraform files
**/.Terraform/*
**/.terraform/*

**/.terraform.lock.hcl

terraform/eks/values/**
terraform/vpc/values/**
terraform/helm/values/**

*.tfstate
*.tfstate.*

#EKS 접근 정보
k8s-access/**
my-values.yaml
