# Local Terraform files
**/.Terraform/*
**/.terraform/*

**/.terraform.lock.hcl

terraform/eks/values/**
terraform/vpc/values/**
terraform/helm/values/**

*.tfstate
*.tfstate.*

#EKS 접근 정보
k8s-access/**
my-values.yaml
output_elasticsearch.yaml
output_dashboard.yaml
output_redash.yaml
my-value-superset.yaml
cronjob/describe_resource_test_configmap.yaml

*.txt
*.json
docker/cronjob_eks.py
*.xlsx
export_env_value.sh
features/bot/**
features/bot/slack/**
features/bot/slack/slack_thread_bot.py
features/bot/slack/slack.py


custodian/output/
.github/workflows/aws_change_resource_tag.yaml
.github/workflows/ec2-describe-to-s3.yaml
temp/